.main-footer {
  width: 320px;
  min-height: 233px;
  background-color: #ffffff;
  color: #000000;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0 1px 0;
}

.main-footer__tag {
  font-family: "PTSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.main-footer__social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 43px 0 45px 0;
}

.social-list__social-item {
  margin: 6px;
  padding: 1px;
}

.social-list__link-twitter {
  padding: 15px 15px;
  background-color: #81b3d2;
}

.social-list__link-facebook {
  padding: 19px 19.5px 11px 19.5px;
  background-color: #81b3d2;
}

.social-list__link-youtube {
  padding: 14px 14px 16px 14px;
  background-color: #81b3d2;
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.copyright__text {
  font-family: "PTSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin: 4px 12px 0 0;
  padding: 0;
}

.copyright__link {
  margin-bottom: 0;
  padding: 0;
}
