.main-page__advantages {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 5px 0;
  background: url("/img/bg-back-mobile@1x.jpg") no-repeat top center;
  background-color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    background: url("/img/Export/text-index-mobile.svg.svg") no-repeat;
    width: 285px;
    height: 215px;
    top: 91px;
    left: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    background: url("/img/Export/mobile-triangle-bg-2.svg") no-repeat;
    width: 320px;
    height: 57px;
    top: 333px;
    right: 0;
  }
}

.advantages__title {
  margin-top: 410px;
  text-align: center;
  padding: 0;
  font-family: "PTSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.advantages__description {
  display: block;
  margin-top: 35px;
  margin-bottom: 75px;
  text-align: center;
  font-family: "PTSans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
}

.advantages__true-town {
  background-color: #ffffff;
  margin-top: 50px;
}

.true-town__background_blue {
  height: 444px;
  position: relative;
  padding-top: 1px;
  text-align: center;
  background-color: #81b3d2;

  &::before {
    content: "";
    position: absolute;
    background: url("/img/Export/mobile-triangle-bg-2-blue.svg") no-repeat;
    width: 320px;
    height: 57px;
    top: -56px;
    right: 0;
  }
}

.true-town__title {
  display: block;
  font-family: "PTSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 20px;
}

.true-town__number {
  display: block;
  font-family: "PTSans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  margin: 20px 0;
}

.true-town__description {
  display: block;
  font-family: "PTSans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  margin: 20px 0;
  width: 100%;
}

.true-town__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  margin-top: 35px;
}

.true-town-list__item {
  margin-left: 10px;
  padding-left: 50px;
  padding-top: 1px;
  margin-bottom: 19px;
  position: relative;
}

.true-town-list__title {
  font-family: "PTSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 28px;
}

.true-town-list__description {
  font-family: "PTSans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.housing::before {
  content: "";
  position: absolute;
  background: url("/img/Export/icon-house.svg.svg") no-repeat;
  width: 39px;
  height: 39px;
  left: 0;
  top: 8px;
}

.souvenirs::before {
  content: "";
  position: absolute;
  background: url("/img/Export/icon-gift.svg.svg") no-repeat;
  width: 39px;
  height: 39px;
  left: 0;
  top: 8px;
}

.food::before {
  content: "";
  position: absolute;
  background: url("/img/Export/icon-burger.svg.svg") no-repeat;
  width: 39px;
  height: 39px;
  left: -3px;
  top: 13px;
}

.advantages__devil-bridge {
  background-color: #ffffff;
  margin-top: 40px;
}

.devil-bridge__background-blue {
  background-color: #81b3d2;
  color: #ffffff;
  height: 483px;
  text-align: center;
  box-sizing: border-box;
  padding: 1px 0;
}

.devil-bridge__title {
  font-family: "PTSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 22px;
  margin-top: 38px;
}

.devil-bridge__number {
  font-family: "PTSans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.devil-bridge__description {
  font-family: "PTSans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  margin-top: 23px;
  margin-bottom: 35px;
}

.devil-bridge-picture {
  margin: 0;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-list__item {
  padding: 26px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: url("/img/Export/bg-line-list-grey.svg") no-repeat;
    width: 280px;
    height: 1px;
    bottom: 0;
    left: 20px;
  }
}

.advantages-list__item:nth-child(3)::after {
  background: none;
}

.advantages-list__title {
  font-family: "PTSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.advantages-list__number {
  font-family: "PTSans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 20px 0;
}

.advantages-list__description {
  font-family: "PTSans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}
